
/*-----------------------------------------
Reusable Components
------------------------------------------*/

.btn:link, 
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    margin-top: 40px;
    transition: all .3s ease-in-out;
}

.btn-full:link,
.btn-full:visited {
    background-color: #8aaad9;
    border: 1px solid #8aaad9;
    margin-right: 20px;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #8aaad9;
    color: #8aaad9;
}

.btn:hover,
.btn:active {
    background-color: #4a7bc4;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #4a7bc4;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #4a7bc4;
    color: #fff;
}

.circle-icon {
 
}

.ion-location {
    width: 50px;
    height: 50px;
}

.small-icon {
    color: #8aaad9;
    font-size: 150%;
}



/*-----------------------------------------
Header section
------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0,0, 0,.9), rgba(0, 0, 0,.65)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 580px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text {
    text-align: center;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    padding: 8px 0;
    border-bottom: 3px solid transparent;
    transition: all .2s ease-in-out;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #8aaad9;
}

/*-----------------------------------------
About section
------------------------------------------*/

.description-text {
    padding-left: 20px;
}

.info-list {
    margin-left: 20px;
}

.icon-wrapper {
    margin-left: 30px;
    margin-bottom: 30px;
}